
@using ITI.Sauce.ViewModels



@model IPagedList<RestaurantViewModel>


@section StyleSection{
    <link rel="stylesheet" href="~/Content/CSS/Restaurant.css" />
<link rel="stylesheet" href="~/Content/CSS/GeneralTable.css"/>

}



<h2>Restaurants</h2>
    <a asp-action="Add" asp-controller="Restaurant" id="btnAdd">Add</a>

<table>
  <tr>
    <th>Name</th>
    <th>IsDeleted</th>
    <th>RegisterDate</th>
    <th>NameAr</th>
    <th>Image</th>


  </tr>
	@foreach (var U in Model)
{  
  <tr>
	<td>@U.NameEN</td>
	<td>@U.IsDeleted</td>
	<td>@U.RegisterDate</td>
	<td>@U.NameAR</td>
    <td> <img src="@U.ImageUrl" width="100 px" height="100 px">   </td>

  </tr>

    }


</table>

<div>
    @Html.PagedListPager((IPagedList)Model, page => Url.Action("Get", new { pageIndex = page }),
        new X.PagedList.Web.Common.PagedListRenderOptions
        {
        DisplayItemSliceAndTotal = true,
        ContainerDivClasses = new[] { "navigation" },
        LiElementClasses = new[] { "page-item" },
        PageClasses = new[] { "page-link" },
        })
    </div>
    <div>
    <script>
        $(document).ready(function() {
            $('ul.pagination > li.disabled > a').addClass('page-link');
        });
    </script>
</div>
