@using ITI.Sauce.Models
@using Microsoft.AspNetCore.Identity;
@inject SignInManager<Users> _SignInManager

   
     
@{
    var claimsIdentity = (System.Security.Claims.ClaimsIdentity)this.User.Identity;
    var claim = claimsIdentity.FindFirst(System.Security.Claims.ClaimTypes.NameIdentifier);
    var userId = claim.Value;
}     

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin Dashboard</title>



    <link
      rel="stylesheet"
      href="~/Content/lib/font-awesome/css/all.css"
    />
    <link rel="stylesheet" href="~/Content/CSS/vendor.css" />

    @RenderSection("StyleSection",false)
</head>
<body>
    <aside id="side">
        <ul class="mysidebar">

            <li>
                <a asp-action="Index" asp-controller="Home" class="mylogo"><i class="fas fa-utensils"></i>Sauce</a>

            </li>
            
                @if (ViewBag.Flag == null)
                    ViewBag.Flag = false;
                @if ((!ViewBag.Flag && this.User.HasClaim(c => c.Value == "Vendor"))  )
                {
                    <!--View Recipes / Reviews / Orders-->
                    <li><a asp-action="Get" asp-controller="Restaurant" asp-route-Vendor_ID="@userId">View Restaurant </a></li>
                    <li><a asp-action="Get" asp-controller="Rating" asp-route-Vendor_ID="@userId">View Reviews </a></li>

                         <li><a asp-action="search" asp-controller="Ingredient">View Ingredients </a></li>
                        <li><a asp-action="Search" asp-controller="Category">View Category </a></li>
                @if (this.User.HasClaim(c => c.Value == "Vendor"))
                {
                    <li><a asp-action="GetOrders" asp-controller="Vendor" asp-route-Vendor_ID="@userId">View Orders </a></li>
                }
                else
                {
                    <li><a asp-action="Get" asp-controller="Order" asp-route-Vendor_ID="@userId">View Orders </a></li>
                }


            }

                    @if (this.User.HasClaim(c => c.Value == "Admin"))
                    {
                        <li><a asp-action="Search" asp-controller="Recipe" >View Recipes </a></li>
                    <li><a asp-action="Search" asp-controller="Rating" >View Reviews </a></li>
                    <li><a asp-action="Search" asp-controller="Order" >View Orders </a></li>
                        <li><a asp-action="Search" asp-controller="Users">View Users </a></li>
                        <li><a asp-action="search" asp-controller="Vendor">View Vendors </a></li>
                        <li><a asp-action="search" asp-controller="Ingredient">View Ingredients </a></li>
                        <li><a asp-action="Search" asp-controller="Category">View Category </a></li>
                         <li><a asp-action="Add" asp-controller="Users">Add Users </a></li>
                        <li><a asp-action="Add" asp-controller="Vendor">Add Vendors </a></li>
                        <li><a asp-action="Add" asp-controller="Recipe">Add Recipe for Website </a></li>
                    }
                
            


      </ul>
    </aside>

    <main>
      <nav>
        <i style="margin-right:70%;" class="fa-solid fa-bars menu-icn " onclick="Menu()" ></i>
    @*    <input type="text" placeholder="Search..." />*@
  @*      <i class="fa-solid fa-bell nav-icn"></i>
        <i class="fa-solid fa-envelope nav-icn"></i>*@
            @if (_SignInManager.IsSignedIn(User)   )
            {
                <a asp-action="Details" asp-controller="Vendor" asp-route-id="@userId">
                    <img src="~/Content//Images/pic.png" id="restaurant-pic" alt="restaurant-pic" />
                </a> 
            }
            else
            {
                <a asp-action="SignUp" asp-controller="Users">
                    <img src="~/Content//Images/pic.png" id="restaurant-pic" alt="restaurant-pic" />
                </a>  
            }
        @if(_SignInManager.IsSignedIn(User))
        {
            <div>
         <span id="restaurant-name">@User.Identity.Name </span>|
        <span><a asp-action="SignOut" asp-controller="Users" style="text-decoration:none; color: #143444; font-size:20px;" >Log out</a></span> 

        </div>
        }
        
      </nav>

        <section class="mycontainer">
            @RenderBody()
        </section>
      </main>
      <script src="~/Content/JS/vendor.js"></script>
     
      <script src="~/Content/lib/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.js"></script>

  </body>
</html>
